html{font-size:14px;}

@media (pointer:none), (pointer:coarse) {
/* @media screen and (max-width: 600px) {  */
  html{font-size: 15px;} 
}


html {
  height: 100%;
  overflow:hidden;
}

* {
margin: 0;
padding: 0;
font-family:'arial';
color: #fff;
background-color: #000;
}

body {
  height: 100%;
  margin:10px;
  width: auto;
  overflow:hidden;
}
main{
  padding-top: 85px;
  margin-right: 400px;
  height:calc(100% - 85px);
  width: auto; 
  display: flex;
}
.CodeMirror {
  height: 100%;
  width: 100%;
  position: relative;
}
.editor,.preview {
  height: 100%;
  width: 50%;
  padding-bottom: 0;
}
.preview #preview {
  height: 100%;
  width: 100%;
  border: none;
  background-color: #fff;
}

.menu {
  width: 300px;
  border-right: 1px dotted #999;
  border-bottom: 1px dotted #999;
}



/*----------------------------------------------------------
                    Codemirror Settings
----------------------------------------------------------*/

.CodeMirror * {
  font-size: 1.0rem;
}

.list-line.list-line-1.CodeMirror-line {
  padding-left: 1.3em;
  text-indent: -1.3em;
}

.list-line.list-line-2.CodeMirror-line {
  padding-left: 2.4em;
  text-indent: -2.4em;
}

.list-line.list-line-3.CodeMirror-line {
  padding-left: 3.5em;
  text-indent: -3.5em;
}

.CodeMirro-scroll { height: auto; overflow-y: hidden; overflow-x: auto; }

/*----------------------------------------------------------
                    Sidebar
----------------------------------------------------------*/

.sidebar {
height: 100%;
width: 150px;
position: fixed;
right: 0;
top: 85px;
padding: 0;
/* overflow: hidden; */
background-color: lightblue;
border-left: solid 1px #fff;
display:table;
}

.e-sidebar-menu-buttons{
display:table-cell;
background-color: #000;
width:50px;
}

.e-sidebar-main-content{
display:table-cell;
}


.e-sidebar-main-content-inner{
  display: block;
  overflow:scroll;
  width:100%;
  height:90vh;
  margin-bottom:100px;
}

.e-sidebar-menu-buttons-w label i,
.e-sidebar-menu-buttons-w label a i{
color:#fff;
}

.header-ui-1{
height:34px;
}

.e-sidebar-menu-buttons-w label {
border:none;
text-align: center;
font-size:20px;
display: inline-block;
padding: 3px 0px;
margin-bottom: 7px;
border-top:5px;
width: 45px;
padding-right: 5px;
}

.e-sidebar-menu-buttons-w input:checked + label{
border-right:5px solid #fff;
padding-right: 0px;
}

.e-sidebar-menu-buttons-w label:hover {
cursor: pointer;
}



/*----------------------------------------------------------
                    Sidebar Each Views
----------------------------------------------------------*/
.toggle_switch {
  display: table;
  font-size: 30px;
}

.toggle_switch > input {
  display: none;
}

.toggle_switch > label {
  display: block;
  position: relative;
  width: 1.8em;
  height: 1em;
  border-radius: 1em;
  background-color: #2b2a2f;
  cursor: pointer;
}
.toggle_switch > input:checked + label {
  background-color: #2dcb45;
}
.toggle_switch > label::before {
  position: absolute;
  top: 0.05em;
  left: 0.05em;
  width: calc(1em - 0.1em);
  height: calc(1em - 0.1em);
  border-radius: calc(1em - 0.1em);
  background-color: #fff;
  transition: 0.5s;
  content: "";
}
.toggle_switch > input:checked + label::before {
  left: calc(100% - 1em + 0.05em);
}

.side-sec-group-select{
  width:100%;
  padding:5px;
  font-size: 1.1rem;
}

.side-sec-group-select table{
  width:100%;
}

.side-sec-group-select tr td{
  padding:5px 15px;
  margin:auto;
}



/*----------------------------------------------------------
                    Header
----------------------------------------------------------*/
header{
background-color: #444;
border-bottom: solid 1px #fff;
position: fixed; 
top: 0px;
left: 0px; 
width: 100%;
height: 85px;
z-index: 10;
}
.title-edit-area{
  margin-left: 15px;
}

.title-edit-area span{
font-size: 1.1rem;
}
.title-edit-area input{
font-size: 1.4rem;
font-weight:bold;
background-color: #000;
color:#fff;
}

.page-title-editor{
  font-weight: bold;
  font-size: 1.3rem;
}

.editor-logo{
width:20px;
margin-left: 20px;
margin-top:3px;
}
.editor-title{
font-size: 1.2rem;
text-align: center;
margin:0;
padding:0;
}

.nodisplay{
display: none;
}

.menu-btn-list label i,
.menu-btn-list label a i{
color:#fff;
}

.menu-btn-list label {
border: 2px solid #999;
border-radius: 3px;
text-align: center;
font-size:15px;
padding:3px 15px;
display: inline-block;
}

.menu-btn-list input:checked + label,
.menu-btn-list input:checked + label i {
color: #000;
background-color: #ddd;
}

.menu-btn-list label:hover {
  border: 2px solid #ddd;
  cursor: pointer;
}

.text-button{
border: solid 1.5px #fff;
font-weight: bold;
border-radius: 7px;
background-color: #000;
color:#fff;
margin:7px;
padding:5px 10px;
}

.text-button:hover{
background-color: #fff;
color:#000;
}

.editor-mode-label{
  padding:5px;
  width:40px;
  height:30px;
}

.editor-mode-label i{
  font-size: 20px;
  line-height:30px;
}


/*----------------------------------------------------------
                    Loader
----------------------------------------------------------*/
#loader-wrapper{ 
  position: absolute;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background: rgba(100, 100, 100, .8);
}

.loader-wrapper-2{
  max-width: 400px;
  height: 100px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin: auto;
  background:none;
}

.loader-wrapper-2 p{
  text-align:center;
  font-size: 2.0rem;
  font-weight: bold;
  background:none;
}

.cubes {
  width: 80px;
  height: 80px;
  margin: auto;
  background:none;
  margin-bottom: 20px;
}

.cubes .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #fff;
  float: left;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.cubes .sk-cube1 {animation-delay: 0.2s; }
.cubes .sk-cube2 {animation-delay: 0.3s; }
.cubes .sk-cube3 {animation-delay: 0.4s; }
.cubes .sk-cube4 {animation-delay: 0.1s; }
.cubes .sk-cube5 {animation-delay: 0.2s; }
.cubes .sk-cube6 {animation-delay: 0.3s;}
.cubes .sk-cube7 {animation-delay: 0s; }
.cubes .sk-cube8 {animation-delay: 0.1s; }
.cubes .sk-cube9 {animation-delay: 0.2s;}
@keyframes sk-cubeGridScaleDelay {
    0%,70%,100% {transform: scale3D(1, 1, 1);}
    35% {transform: scale3D(0, 0, 1);}
}




aside h1,
#editor-side-sec-main h1{
    background: #eee;
    font-size: 1.1rem;
    color:#000;
    border-radius:5px;
    border: none;
    font-weight:bold;
    text-align:center;
    width:90%;
    padding: 5px;
    position: relative;
    margin: 10px 0px;
}
aside h1::after,
#editor-side-sec-main h1::after{
    border: none;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
    border-top: solid 15px #eee;
    bottom: -12px;
    content:"";
    display:block;
    height:0;
    left:50%;
    margin-left:-8px;
    position: absolute;
    width:0;
} 

