html{font-size:17px;overflow-x: hidden;}

@media (pointer:none), (pointer:coarse) {
/* @media screen and (max-width: 600px) {  */
  html{font-size: 19px;} 
}

body {
  background-color: #333333;
  width:100%;height:100vh;
  color: #fff;
  padding-left:3px;
  padding-right:10px;
}
*{font-size:1.0rem; font-family:'arial';}
a {color:rgb(219, 241, 250);;text-decoration: underline;}
a:visited {color: rgb(159, 228, 255);}
a:hover {font-weight: bold;}


/*  ###################################
   #####       ヘッダー        #######
   ###################################*/

.h_title {
  font-weight: bold;
  font-size: 1.8rem; 
  text-decoration: none;
}

.h_title,
.h_title:hover,
.h_title:visited{
  color:#fff;
}

.h_desc{ padding-left:0.7rem;font-size: 1.1rem;}

header {
  position: fixed;
  background-color: #222; 
  height:60px;
  padding-top: 10px;
  padding-left: 20px;
  width:100%;
  top: 0;
  left: 50%;
  z-index:5;
  transform: translate(-50%, 0%);
}

.header_start {
  display: flex;
  align-items: center; 
}

.header_end {
  display: flex;
  align-items: center; 
  height:50px;
}

.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem; 
  
  max-width: 1140px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.header_wrapper {
  padding-top: 0;
  padding-bottom: 0;
} 

.show-header-menu-label,
.h_nav_wrapper input[type="checkbox"],
#show-header-menu{
  display:none;
}

.h_nav_wrapper,
.h_nav_wrapper ul,
.h_nav_wrapper li,
.h_nav_wrapper a, 
.h_nav_wrapper label{ 
  margin: 0; 
  padding: 0; 
  line-height: normal; 
  list-style: none; 
  display: block; 
  position: relative; 
}

.h_nav_wrapper {
  display: flex; 
  list-style-type:none;
  margin:0;
  padding:0;
  margin-left: 55px;
}


@media (max-width: 799px) {
  .h_desc{
    display:none;
  }
}

.hmenu-bg{
  position:absolute;
  width:0px;
  opacity:0;
  height:100vh;
  top:70px;
  z-index: 1;
  left:0;
  right:0;
  background-color: rgba(0,0,0,0.5);
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}

.h_nav_wrapper ul { 
  opacity: 0; 
  position: absolute; 
  top: 100%; 
  left: -9999px; 
  z-index: 13; 
}
.h_nav_wrapper li:hover > ul {
   left: 0; opacity: 1; z-index: 1000; 
}

.h_nav_wrapper ul li:hover > ul { 
  top: 0; left: 100%; 
}

.h_nav_wrapper li ,
.h_nav_wrapper label { 
  cursor: default; float: left; white-space: nowrap; 
}

.h_nav_wrapper ul li { 
  float: none; 
}

.h_nav_wrapper ul { 
  min-width: 12em;
}

.h_nav_wrapper { float: right; right: 50%; }
.h_nav_wrapper > li { left: 50%; }

.h_nav_wrapper a ,
.h_nav_wrapper label { 
  padding: 0 10px;
  font-size: 1.1rem;
  color:#fff;
  line-height: 40px;
  text-decoration: none;
  border-bottom: solid 2px #aaa;
}

.h_nav_wrapper a:hover,
.h_nav_wrapper a:focus,
.h_nav_wrapper li:hover a {
  background: #444;
}

.h_nav_wrapper li li a,
.h_nav_wrapper li:hover li a {
  padding: 8px 10px;
  background: #113;
  color: #FFF;
  line-height: normal;
}

.h_nav_wrapper li:hover li a:hover,
.h_nav_wrapper li:hover li a:focus,
.h_nav_wrapper li:hover li:hover a,
.h_nav_wrapper li:hover li:hover li a {
  background: #444;
}

.h_nav_wrapper li:hover li:hover li a:hover,
.h_nav_wrapper li:hover li:hover li:hover a {
  background: #333;
}


.h_search {
  display: flex;
  margin-left: 1rem;
  z-index:10;
}

@media (max-width: 1100px) {
  .h_desc{
    display: none;
  }
}

@media (max-width : 800px) {
  .show-header-menu-label{
    width:50px;
    width:50px;
    font-size: 30px;
    text-align: center;
    margin:auto;
    margin-right: 25px;
    display:block
  }

  .show-header-menu-label i{
    font-size: 40px;
    line-height: 40px;
    text-align: center;
  }

  .h_nav_wrapper{
    display:block;
    opacity: 0;
    position:absolute;
    right:0;
    width:0;
    height:100vh;
    transition:all 0.5s ease;
    -moz-transition: all 0.3s ease;
    z-index: 20;
  }

  .h_nav_wrapper label{
    float:none;
  }

  .h_nav_wrapper label::before{
    content:" ▼ "
  }

  .h_nav_wrapper input[type="checkbox"]:checked ~ label::before{
    content:" ▲ "
  }
  
  #show-header-menu:checked ~ .h_nav_wrapper{
    display:block;
    position:absolute;
    background-color: #000;
    float:none;
    opacity:1;
    right:0;
    margin-top: 10px;
    width:80vw;
    max-width: 300px;
    height:100vh;
    overflow-y: scroll;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
  }

  #show-header-menu:checked ~ .hmenu-bg{
    width:100vw;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
  }

  .h_nav_wrapper li {
    width: 100%;
    list-style-type: none;
    padding: 5px;
    margin:3px;
    text-align: center;
    left:auto;
  }

  .h_nav_wrapper input[type="checkbox"] ~ ul{
    opacity: 1;
    height:0;
    overflow: hidden;
  }

  .h_nav_wrapper input[type="checkbox"]:checked ~ ul{
    display: block;
    position:unset;
    height:unset;
    width: 90%;
    position: block;
    top: unset;
    left: unset;
    z-index: inherit;
  }

  .h_nav_wrapper li ul li{
    width: 80%;
    list-style-type: none;
    margin:0;
    padding: 0px;
    margin-left:40px ;
    text-align: center;
    left:auto;
    background:none;
  }
}


@media (max-width: 509px) {
  .h_search{
    display: none;
  }
}

.search-form{
  color:#fff;
  width:95%;
  height: 32px;
  border: 2px #ddd solid;
  display: block;
  margin:30px 30px;
  margin-left: auto;
  margin-right: auto;
}

.search-form input{
  vertical-align: top;
  margin: 0px;
  height: 100%;
  box-sizing: border-box;
  background-color: transparent;
}
.search-form{
  border-radius: 10px;
}


.searchTerm{
  border: none;
  color:#fff;
  padding-left: 10px;
  padding-right: 10px;
  width: calc(100% - 39px);
}

.searchTerm:focus{font-weight:bold;}

.searchButton{
  width: 30px;
  color:#fff;
  border: none;
  font-family: FontAwesome; 
  background: none;
}

.detail-search{
  width:80%;
  max-width:900px;
  margin:30px;
  font-weight:bold;
  border:solid 1px;
  border-radius:10px;
}

details summary{
  cursor: pointer;
}

/*  ###################################
   #####       main            #######
   ###################################*/
.main-content{
  display:block;
  margin-left: 350px;
  margin-top: 85px;
  -moz-transition: margin-left 0.3s ease;
  transition: margin-left 0.3s ease;
  overflow-x: unset;
  word-break: normal;
  overflow-wrap: normal;
}


.main-view {
  max-width: 1500px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  margin-bottom: 100px;
  position:relative;
}


.text-button{
  border: solid 1.5px #fff;
  font-weight: bold;
  border-radius: 7px;
  background-color: #000;
  color:#fff;
  margin:7px;
  padding:5px 10px;
}

.text-button:hover{
  background-color: #fff;
  color:#000;
}

  

h1 {
  position: relative;
  color:#000;
  padding: 0.2em;
  background: #e1e0e0;
  border-left:solid 10px #000;
  font-size:2.0rem;
  margin:30px 0px 5px 2px;
}

h1:after {
    position: absolute;
    top: 100%;
    left: 30px;
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top: 12px solid #e1e0e0;
}

h2{
  border-left:solid 12px #e1e0e0;
  border-bottom:solid 6px #e1e0e0;
  color:#000;
  background: #333;
  padding: 0.2em;
  font-size:1.7rem;
  color:#fff;
  margin:30px 0px 5px 2px;

}

h3{
  border-left:solid 6px #e1e0e0;
  border-bottom:solid 2px #e1e0e0;
  color:#000;
  background: #333;
  padding: 0.2em;
  font-size:1.2rem;
  color:#fff;
}


.undefined-img{
  content: "NO IMAGE";
  text-align: center;
  background-color: #666;
  font-size: 0;
  border:solid 2px #fff;
  color:#fff;
  margin:5px;
  padding:15px;
}


/* ---------------------------  Table  -------------------------*/

table,th, td{
  background-color: #000;
  border-collapse: collapse;
  border:1px solid #fff;
  margin:0px;
  padding:3px 10px;
}

tbody tr:hover td{
  background-color: #444;
}

.sort.desc:after {
  content:"▼";
}
.sort.asc:after {
  content:"▲";
}


pre{
  width:100%;
  padding: 0px;
  overflow-x: scroll;
  border : solid 1px #fff;
  padding:10px;
  scrollbar-base-color: #eee;
}


.title_list_table,
.title_list_table td,
.title_list_table tr{
  background-color:rgba(0, 0, 0, 0);
  border:none;
}

.title_list_table tr:hover td{
  background-color:rgba(0, 0, 0, 0);
}

@media (min-width: 509px) {
  .title_list_table_wrapper{
    overflow-x: scroll;
    border:solid 1px #fff;
  }
}

.category,
.date{
  font-size: 0.9rem;
}
 .date {
    background:#000;
    color:#fff;
    font-weight:bold;
    padding:3px 10px;
    margin:3px 10px;
    text-decoration:none;
    display:inline-block;
}

.date:hover,
.date:visited,
.category:hover,
.category:visited{
  color:#fff;
}

.date i{
  padding:0px;
  padding-right:7px;
  color:#fff;
}

.category {    
  display: inline-block;
  height: 24px;
  line-height: 24px;
  position: relative;
  margin: 0 16px 8px 10px;
  padding: 0 10px 0 12px;
  background: #111;    
  -webkit-border-bottom-right-radius: 3px;    
  border-bottom-right-radius: 3px;
  -webkit-border-top-right-radius: 3px;    
  border-top-right-radius: 3px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}


.category:before {
  content: "";
  position: absolute;
  top:0;
  left: -12px;
  width: 0;
  height: 0;
  border-color: transparent #111 transparent transparent;
  border-style: solid;
  border-width: 12px 12px 12px 0;        
  }

.category:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 1px;
  float: left;
  width: 5px;
  height: 5px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #fff;
}



/*  #######################################
#####       トップへ戻る      ########
###########################################*/    
#page-top {
    position: fixed;
    width: 80px;
    height: 40px;
    right: 30px;
    bottom: 30px;
    background-color: #20fff7;
    border-radius: 20px;
    z-index: 10;
}

.page-top-icon {
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-weight: bold;
}

.page-top-icon a{color:#000;}



/*  #######################################
#####      記事内のカードリンク       ########
###########################################*/
.card-link{
  margin:0px 0px 15px 0px;
  width: 90%;
  max-width: 480px;
  max-height: 130px;
  overflow: hidden;
  position: relative;
  border-radius: 15px;
  border: solid 1px #aaa;
  padding : 7px;
  min-height: 75px;
}

.search-result .card-link { max-width: 1100px; }

.card-link-favicon{
  width:16px;
  height:16px;
}

.card-link-url{
  padding:0;
  margin:0;
  text-decoration: none;
}

.card-link-thumb{
  margin:0;
  padding:0;
  height: 80px;
  width: 80px;
  padding-right: 8px;
  padding-bottom: 8px;
  float: left;
}

.card-link-title {
  font-weight:bold;
  font-size: 1.3rem;
  text-decoration: none;
  padding-top:0px;
  margin:0px;
  padding:0px;
  border:none;
}

.card-link-desc{
  font-size: 0.9rem;
  text-decoration: none;
  padding-top:0px;
  margin:3px;
  border:none;
}

.card-link br {
  display: none;
}


.card-link .date,
.card-link .category{
  padding:4px;
  margin:3px;
}

.card-link .date,
.card-link .category{
  font-size: 0.8rem;
}

.card-link .date i,
.card-link .category i{
  font-size: 0.8rem;
}


/*  #######################################
#####       サイド　記事一覧       ########
###########################################*/

.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  background-color: #111;
  padding:0;
  overflow-x: hidden;
  padding-top: 80px;
  padding-left:10px;
  -moz-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

.side-menu-fixed{
  position: sticky;
  top: -9px;
  background-color: #000;
  width:100%;
  z-index: 1;
  border-bottom: solid 1px #ccc;
}

.side-menu-fixed label i{
  font-size:25px;
  color:#ddd;
}

.side-menu-fixed span{
  font-size: 1.1rem;
}

.side-menu-fixed table,
.side-menu-fixed tr{
  width: 100%;
  table-layout: fixed;
  text-align: center;
}

.side-menu-fixed table, 
.side-menu-fixed td, 
.side-menu-fixed th {
  border:none;
  padding:0;
  text-align: center;
  background-color: #000;
}
.side-menu-fixed td label{
  text-align: center;
}

.side-menu-fixed table{
  border-collapse: unset;
  padding-right: 35px;
}

.side-menu-fixed table td p{
  margin-top: 3px;
  margin-bottom: 0px;
  font-size: 0.7rem;
}

.side-menu-fixed tbody tr:hover td{
  background-color: #000;
}

.side-menu-fixed table td:hover{
  background-color: #333;
}

.side-menu-fixed label:hover{
  cursor: pointer;
  color: #fff;
}

.side-menu-fixed label:checked{
  color: #fff;
}


.nodisplay{display:none;}
  

.side-scroll{
  display: block;
  overflow:hidden;
  width:100%;
}
  
#slide-opener[type=checkbox] {
  display: none;
}

#side-opener-label {
 z-index: 10;
 position: fixed;
 margin-left: 270px;
 top: 85px;
 background-color: rgba(0,0,0,0.5);
 border-radius: 5px;
 -moz-transition: margin-left 0.3s ease;
 transition: margin-left 0.3s ease;
}

#side-opener-label i{
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  color:#fff;
}

#slide-opener:checked ~ .sidenav { 
 width: 0px;
 left:30px;
 border-right:solid 1px #fff;
 -moz-transition: width 0.3s ease;
 transition: width 0.3s ease;
}

#slide-opener:checked ~ .main-content { 
 margin-left: 20px;
 -moz-transition: margin-left 0.3s ease;
 transition: margin-left 0.3s ease;
}

#slide-opener:checked ~ label {
 margin-left: -25px;
 -moz-transition: margin-left 0.3s ease;
 transition: margin-left 0.3s ease;
}

#slide-opener:checked label i{
  font-size: 30px;
  line-height: 30px;
}

.sidenav h1,
#editor-side-sec-main h1{
    background: #ddd;
    font-size: 1.1rem;
    color:#000;
    border-radius:5px;
    border: none;
    font-weight:bold;
    text-align:center;
    width:90%;
    padding: 5px;
    position: relative;
    margin: 10px 0px;
}
.sidenav h1::after,
#editor-side-sec-main h1::after{
    border: none;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
    border-top: solid 15px #ddd;
    bottom: -12px;
    content:"";
    display:block;
    height:0;
    left:50%;
    margin-left:-8px;
    position: absolute;
    width:0;
} 


.aside-article-link{
  margin:0px 0px 15px 0px;
  width: 90%;
  position: relative;
  border-bottom: solid 1px #ddd;
  padding : 7px;
  min-height: 75px;
}

.sidenav .card-link-thumb{
  padding-bottom:0px;
  width:40px;
  height: 40px;
}


.category-module{
  clear:both;
  overflow: hidden;
}
  
.one-category{
  float:left;
  position:relative;
  background:#000;
  border:none;
  height:25px;
  font-size: 1.1rem;
  color:#eee;
  font-weight:bold;
  line-height:20px;
  margin:3px 9px;
  padding:0 7px;
  text-decoration:none;
  text-align: center;
}

.one-category:before {
  border-top: 11px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #000;
  content: '';
  display: block;
  margin-left: -9.5px;
  position: absolute;
  left: 0;
}

.one-category:hover {
  background-color: #fff;
  color:#000;
}
.one-category:hover:before {
  border-right: 10px solid #fff;
}


.file-explorer {
  position: relative;
  background: #000;
  margin-top: 10px;
  padding: 10px;
  font-family: 'Roboto Mono', monospace;
  line-height: 1.5;
  color: #fff;
}

.file-explorer span {
  font-size: 1.0rem;
  font-style: italic;
  letter-spacing: 0.4px;
  color: #bbb;
}

.file-explorer .fa-folder-open, .file-explorer .fa-folder {color: #19f;}
.file-explorer .fa-html5 {color: #f32;}

.file-explorer ul {
  padding-left: 5px;
  list-style: none;
}
.file-explorer ul li {
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.file-explorer ul li:before {
  position: absolute;
  top: 14px;
  left: 0;
  width: 10px;
  height: 1px;
  margin: auto;
  content: '';
  background-color: #888;
}
.file-explorer ul li:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 1px;
  height: 100%;
  content: '';
  background-color: #888;
}
.file-explorer ul li:last-child:after {
  height: 10px;
}
.file-explorer ul a {
  cursor: pointer;
}
.file-explorer ul a:hover {
  text-decoration: none;
}

.file-explorer .root-dir-name{
  color:#fff;
  font-weight:bold;
  font-size: 1.2rem;
  margin:0;padding:0;
}

.title-list *{margin:0;padding:0;}
.title-list ul.tree{padding-left:30px;}
.title-list li{list-style-type:none;color:#fff;position:relative;margin-left:-15px;}
.title-list li label{padding-left:37px;cursor:pointer;background:url("https://www.thecssninja.com/demo/css_tree/folder-horizontal.png") no-repeat 15px 2px;display:block;}
.title-list li input{width:1em;height:1em;position:absolute;left:-0.5em;top:0;opacity:0;cursor:pointer;}
.title-list li input + ul{height:1em;margin:-16px 0 0 -44px;background:url("https://www.thecssninja.com/demo/css_tree/toggle-small-expand.png") no-repeat 40px 0;}
.title-list li input + ul > li{display:none;margin-left:-14px !important;padding-left:1px}
.title-list li.file{margin-left:-1px !important;}
.title-list li.file a{display:inline-block;padding-left:21px;color:#fff;text-decoration:none;background:url("https://www.thecssninja.com/demo/css_tree/document.png") no-repeat 0 0;}
.title-list li input:checked + ul{height:auto;margin:-21px 0 0 -44px;padding:25px 0 0 80px;background:url("https://www.thecssninja.com/demo/css_tree/toggle-small.png") no-repeat 40px 5px;}
.title-list li input:checked + ul > li{display:block;margin:0 0 0.063em;}
.title-list li input:checked + ul > li:first-child{margin:0 0 0.125em;}


/*  ###################################
   #####       フッター        #######
   ###################################*/

footer {
  margin: 0;
  padding: 5px;
  background-color: #000;
  color: #000;
  text-align: center;
  width: 100%;
  height: 100px;
}


ul.footer-menu li a {
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
  color: #fff;
  padding: 8px 8px;
  border-right: none;
}

ul.footer-menu li {
  display: block;
}

.footer-copyright{
  font-size: 0.9rem;
}

@media screen and (min-width: 670px) {
    footer {
        margin: 0;
        padding: 5px;
        width: 100%;
        text-align: center;
    }
    ul.footer-menu li a {
        font-size: 15px;
        margin: 0px;
        border-right: solid 1px #000;
        border-left: solid 1px #000;
    }
    ul.footer-menu li {
        display: inline;
    }
}


/*  ###################################
   #####       Main Page        #######
   ###################################*/

.page-title, .page-title a, .page-title a i{
  font-weight:bold;
  text-decoration: none;
  font-size: 2.0rem;
}

.page-title a,
.page-title a:hover,
.page-title a:visited{
  color:#fff;
}

.page-search-result-onepage{
  padding-bottom: 15px;
  margin-bottom: 20px;
}

.search-res-text{
  font-size: 0.9rem;
  margin-left: 15px;
}
.search-page-title{
  font-size: 1.4rem;
  font-weight: bold;
  margin-left: 0;
  margin-right: 20px;
  margin-bottom: 10px;
}

/*  ###################################
   #####    Table of Contents   #######
   ###################################*/
#toc ol {
  counter-reset: section;
  list-style-type: none;
}

#toc li::before {
  counter-increment: section;
  content: counters(section, ".") " ";
}
  

.container-calendar {
  background: #000;
  padding: 15px;
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
  overflow: auto;
}

.button-container-calendar{
  display:table;
  vertical-align:baseline;
  width: 50%;
  padding:20px;
}

.button-container-calendar button {
  cursor: pointer;
  display: table-cell;
  zoom: 1;
  background: #00a2b7;
  border: 1px solid #0aa2b5;
  border-radius: 4px;
  padding: 5px 10px;
}

.button-container-calendar span{
  display:table-cell;
}


.table-calendar {
  border-collapse: collapse;
  width: 100%;
}
.table-calendar th,
.table-calendar td{
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
  vertical-align: top;
}

.date-picker.today {
  font-weight: bold;
  background: #cc0000;
}
.date-picker.today span {
  border-bottom: 2px solid currentColor;
}

.date-picker:nth-child(1) { color: red;  }
.date-picker:nth-child(7) { color: blue; }
.date-picker:hover{background-color: #000;color:ddf}
.with-heading{ background-color:#129; }


#monthAndYear {
  text-align: center;
  margin-top: 0;
}

.footer-container-calendar select {
  cursor: pointer;
  display: inline-block;
  zoom: 1;
  background: #002;
  color: #444;
  border: 1px solid #bfc5c5;
  border-radius: 3px;
  padding: 5px 1em;
}



/*  ###################################
   #####    Go to Top Button    #######
   ###################################*/

#goto-top {
  position: fixed;
  width: 80px;
  height: 40px;
  right: 30px;
  bottom: 30px;
  background-color: #20fff7;
  border-radius: 20px;
  z-index: 10;
}

.page-top-icon {
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
}

.page-top-icon a {
  color: #000;
}



/*  ###################################
   #####    Looks Good To Me    #######
   ###################################*/

#lgtm-btn {
  position: fixed;
  width: 70px;
  height: 70px;
  right: 35px;
  bottom: 120px;
  padding:5px;
  background: rgba(0, 0, 0, 0.1);
  /* border: solid 1px #fff; */
  border-radius: 10px;
   z-index: 10;
  text-align: center;
  margin: 0 auto; 
  line-height: 70px;
  cursor: pointer;
}


#lgtm-btn i{
  font-size: 35px;
}

#lgtm-btn span span{
  font-size:1.1rem; 
  margin-top:25px; 
  display:block;
  font-weight: normal;
  color: white;
}

/*  ###################################
   #####    Responsive Design   #######
   ###################################*/
@media (pointer:none), (pointer:coarse) {
/* @media screen and (max-width:750px) { */

  /* ###########################     Sidebar     ################################### */
  #side-opener-label{
    display:none;
  }

  .main-content{
    margin-left: 0px;
  }
  .sidenav{
    /* display:flex; */
    /* overflow: hidden; */
    position:fixed;
    bottom: 0;
    top:auto;
    left:0;
    width: 100vw;
    margin:0;
    background: #ccc;
    text-align: center;
    padding:0;
    z-index:10;

    box-shadow: 0px 1px 4px rgba(0,0,0,0.14);
    height: calc(env(safe-area-inset-bottom,0px) + 55px);
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: env(safe-area-inset-bottom);
    width: 100%;
  }
  .side-menu-fixed{
    width: 100vw;
    margin-right: 0;
  }
  .side-scroll{
    display: none;
  }

  #slide-opener:checked ~ .sidenav { 
    width: 100%;
  }
  #slide-opener:checked ~ main { 
    margin-left: 0px;
  }
  
  .side-menu-fixed label i{
    font-size:20px;
    color:#ddd;
  }

  #goto-top{
    bottom:70px;
    font-size: 0.9rem;
  }

  header{
    height:50px;
    z-index:2;
  }


  /* ################    HEADER MENU   ##################### */


  .side-menu-fixed table{
    padding-right: 0px;
  }
}

footer{
  display: none;
}


/*  ###################################
   #####        Form Inputs      #######
   ###################################*/
.my-form input[type=text], 
.my-form select, 
.my-form textarea {
  width: 100%;
  padding: 6px;
  margin:3px;
  border: 1px solid #ccc;
  background:#000;
  color:#fff;
  border-radius: 4px;
  resize: vertical;
  font-size: 1.1rem;
}

.form-submit-btn-oneline{
  display: table-cell;
}

.my-form label {
  padding: 5px;
  display: inline-block;
}
.form-submit-btn{
  background-color: #04AA6D;
  color: white;
  font-size: 1.2rem;
  padding: 12px 20px;
  margin:12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.form-submit-btn-small {
  background-color: #04AA6D;
  color: white;
  font-size: 1.2rem;
  padding: 5px 8px;
  margin:5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}


.my-form .form-submit-btn:hover, .form-submit-btn-small:hover{
  background-color: #00f;
}


.my-form input[type="checkbox"].filled-in:checked + span:not(.lever):after {
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #e6ee9c;
  background-color: #afb42b;
  z-index: 0;
}

.my-form input[type="checkbox"] {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  color:black;
  border: 1px solid gray;
  border-radius: 4px;
  appearance: none;
  outline: 0;
  cursor: pointer;
  margin-top:15px;
}

.my-form input[type="checkbox"]::before {
  position: absolute;
  content: '';
  display: block;
  top: 2px;
  left: 7px;
  width: 8px;
  height: 14px;
  border-style: solid;
  border-color: white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
}
.my-form input[type="checkbox"]:checked {
  color: white;
  border-color: green;
  background: green;
}
.my-form input[type="checkbox"]:checked::before {
  opacity: 1;
}

.search-ui-component {
  display:flex;
  flex-direction: row; 
  justify-content: left;
  width:100%;
  padding:9px;
}

.my-form-oneline input[type=text], 
.my-form-oneline select, 
.my-form-oneline textarea {
width:60%;
}

#slider-range{
  margin:8px 30px;
}

.my-form-title{
  font-size: 2.0rem;
  margin-top: 0px;
  font-weight: bold;
  border-bottom: solid 1px #000;
}



/* ---------------------------  Popup  -------------------------*/
.popup {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index:30;
  background-color:rgba(0, 20, 40, 0.3);
  transition: .6s;
}

.popup-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 80%;
  height:70%;
  max-width:700px;
  max-height:500px;
  padding: 30px;
  background-color: #013;
  border:solid 2px #fff;
  border-radius: 15px;
  font-size: 1.2rem;
  overflow-x: hidden;
  overflow-y: scroll;
}

.popup-inner p{
  margin-top:0;
}

.popup-inner img {
  width: 100%;
}
.popup-close-btn {
  float:right;
  width: 30px;
  height: 30px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}
.popup-close-btn i {
  font-size: 30px;
  line-height: 30px;
  color: #000;
}
.black-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.8);
  z-index: 1;
  cursor: pointer;
}

#popup-new-page table, 
#popup-new-page tr, 
#popup-new-page tbody{
  font-size: 1.2rem;
  width:90%;
  border:unset;
}

#popup-new-page td{
  border:unset;
}



/*  ###################################
   #####        Message Dialog      #######
   ###################################*/
.my-dialog-ovelay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.my-dialog-confirm {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  border:solid 1px #aaa;
  overflow: hidden;
}

.my-dialog-simple{
  width: 180px;
  position:fixed;
  top:100px;
  right: 10px;
  height:40px;
  padding:10px;
  background-color: rgba(24, 48, 155, 0.479);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border:solid 1px #aaa;
  border-radius: 3px;
  overflow: hidden;
  z-index:99999;
}

.my-dialog-title {
  font-size: 13px;
  font-weight: bold;
  padding:8px;
  margin: 0;
  color: #888;
  display: inline-block;
}

.my-dialog-msg {
  padding-left: 12px;
}

.my-dialog-confirm  .fa-times,
.my-dialog-simple  .fa-times {
  float: right;
  color: #666;
  cursor: pointer;
  transition: all 0.5s ease;
  padding:10px;
  border-radius: 1px;
}

.my-dialog-simple  .fa-times {
  padding:0;
}

.my-dialog-buttons {
  background-color: #ddd;
  width:100%;
  height:40px;
  padding: 0;
  padding-right:20px;
}

#my-confirm-yes-btn,
#my-confirm-no-btn {
  width: 80px;
  height:30px;
  margin:5px 5px;
  float:right;
  cursor: pointer;
}

#my-confirm-yes-btn{
  background-color: rgb(182, 14, 14);
  color:#fff;
}

.my-dialog-fadeout-remove {
  opacity: 0.0;
  transition-property: opacity; 
  transition-duration: 0.3s;
}
